@import 'responsive';
@import 'variables';
@import 'colors';

html {
  font-size: @size;
}

body {
  overflow-x: hidden;
}

.l-header,
.l-footer,
.l-main__section {
  font-family: @font-family-sans;
  font-weight: @font-weight-light;
  font-size: 16px;
  line-height: 1.4;

  a:hover,
  a:focus {
    text-decoration: none;
  }

  section {
    display: block;
    padding: 0;
    background: transparent !important;
  }
  .l-grid__element {
    padding: @size-xxs;
  }
}
.l-main__section {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;

  .container_top20 &:first-child {
    margin-top: -20px;
  }
}

.l-footer {
  width: auto;
  min-width: 0 !important;
  padding-top: 0;
  border-top: none;
  font-size: @size-s;
}

.l-header {
  width: auto;
  min-width: 0 !important;

  &__str-A-right {
    @media @Tablet, @Phone-L, @Phone-S {
      && {
        background-color: @brand-primary !important;
        padding: @size / 4 @size-xxs;
      }
    }
  }
  &__str-B {
    && {
      @media @Tablet, @Phone-L, @Phone-S {
        display: none;
      }
    }
  }
  &__str-D {
    && {
      @media @Tablet, @Phone-L, @Phone-S {
        display: none;
      }
    }
  }
  &__str-C {
    && {
      @media @4K, @Laptop-L {
        padding-right: @size-em * 5.3;
      }
    }
  }
  &__str-E.l-grid__element {
    padding-left: 0;
    padding-right: 0;
  }

  &&--adaptation {
    @media @4K, @Laptop-L, @Laptop {
      &::after {
        content: none;
      }
      .l-header__grid {
        display: none;
      }
    }
  }
}

.l-header::after {
  @media @4K, @Laptop-L, @Laptop {
    // left: auto;
    // right: auto;
    // width: 100vw;
  }
  @media (max-width: 999px) {
    // margin-left: -34px;
  }
}
.l-header__str-E.l-grid__element {
  padding-top: 0;
  padding-bottom: 0;
}
input[type="search"].l-header__search-field {
  height: auto;
  border: 1px solid @black-10;
  padding: @size-s;

  &:focus {
    border-color: @brand-primary;
  }

  @media @Laptop {
    width: @size-em * 10;
  }
}
.l-main__str-bottom.l-main__str-bottom {
  display: flex;
}
