[id="sectionRegistration"] {
  padding-bottom: 27px;

  .l-main__str-main {
    margin-top: -@size;
  }
}
[id="sectionApp"] {
  .c-title {
    margin-top: 0;
  }
  .c-image--app {
    position: relative;
    right: -11px;
    top: -6px;
    margin-bottom: 26px;
  }
  .c-title--h1 {
    @media @4K,
      @Laptop-L,
      @Laptop,
      @Tablet {
      max-width: @size-em * 11;
      margin-top: 78px;
      margin-bottom: 25px;
    }
  }
}
[id="sectionAbout"] {
  .l-main__str-left {
    @media @4K, @Laptop-L {
      padding-right: @size-em;
    }
  }
  .c-button--scroll {
    position: relative;
    top: -2px;
    margin-bottom: 3px !important;
  }
}
[id="sectionHowto"] {
  .c-title--section {
    position: relative;
    top: -2px;
  }
  .l-grid__str-item > .l-grid__element {
    padding-top: 0;
  }
  .c-card__title {
    margin-left: 4px;
    margin-right: 4px;
  }
  .l-main__str-main {
    @media @4K, @Laptop-L, @Laptop {
      margin-bottom: -46px;
    }
  }
  .l-main__str-bottom {
    margin-top: -19px;
  }
}
[id="sectionAdvantages"] {
  .l-main__str-main {
    padding-top: 0;
    margin-top: -6px;
    padding-bottom: 13px;
  }
}


.l-footer__str-E {
  padding-top: 29px;
}
.l-footer__str-F {
  padding-top: 29px;
}

.c-target-nav {
  &__link {
    &&--programm {
      padding-right: 18px;
    }
    &&--travel {
    }
    &&--impressions {
      padding-right: 14px;
    }
    &&--market {
    }
  }
}

.c-main-nav__root-link {
  @media @4K, @Laptop-L, @Laptop {
    padding: 21px 0 18px 0;
  }
}
.c-title.c-title--section {
  margin-top: -4px;
}

.l-header__str-E {
  @media @4K, @Laptop-L, @Laptop {
    margin-top: -7px; // pixel-perfect
  }
}
